@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local("Karla"), local("Karla-Regular"), url(http://fonts.gstatic.com/s/karla/v5/31P4mP32i98D9CEnGyeX9Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local("Karla"), local("Karla-Regular"), url(http://fonts.gstatic.com/s/karla/v5/Zi_e6rBgGqv33BWF8WTq8g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* line 1, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 2, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 3, ../sass/_reset.scss */
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 4, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 5, ../sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 6, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start editing from here */
/* line 8, ../sass/_reset.scss */
a {
  text-decoration: none;
}

/* line 9, ../sass/_reset.scss */
.txt-rt {
  text-align: right;
}

/* text align right */
/* line 10, ../sass/_reset.scss */
.txt-lt {
  text-align: left;
}

/* text align left */
/* line 11, ../sass/_reset.scss */
.txt-center {
  text-align: center;
}

/* text align center */
/* line 12, ../sass/_reset.scss */
.float-rt {
  float: right;
}

/* float right */
/* line 13, ../sass/_reset.scss */
.float-lt {
  float: left;
}

/* float left */
/* line 14, ../sass/_reset.scss */
.clear {
  clear: both;
}

/* clear float */
/* line 15, ../sass/_reset.scss */
.pos-relative {
  position: relative;
}

/* Position Relative */
/* line 16, ../sass/_reset.scss */
.pos-absolute {
  position: absolute;
}

/* Position Absolute */
/* line 17, ../sass/_reset.scss */
.vertical-base {
  vertical-align: baseline;
}

/* vertical align baseline */
/* line 18, ../sass/_reset.scss */
.vertical-top {
  vertical-align: top;
}

/* vertical align top */
/* line 19, ../sass/_reset.scss */
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  margin: 0 0 20px 0;
}

/* Add 5px bottom padding and a underline */
/* line 20, ../sass/_reset.scss */
nav.vertical ul li {
  display: block;
}

/* vertical menu */
/* line 21, ../sass/_reset.scss */
nav.horizontal ul li {
  display: inline-block;
}

/* horizontal menu */
/* line 22, ../sass/_reset.scss */
img {
  max-width: 100%;
}

/* line 1, ../sass/screen.scss */
body {
  font-family: "Century Gothic",Arial, Helvetica, sans-serif;
  background: #fff;
}

/* line 6, ../sass/screen.scss */
.wrap {
  width: 80%;
  margin: 0 auto;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
}

/* line 15, ../sass/screen.scss */
.header {
  background: #f6f6f6;
}

/* line 19, ../sass/screen.scss */
.logo {
  float: left;
  padding-top: 4px;
}

/*-----------------------------------menu-------------------------------------------*/
/* line 26, ../sass/screen.scss */
.cssmenu {
  float: right;
  padding-top: 6px;
}
/* line 29, ../sass/screen.scss */
.cssmenu ul li {
  display: inline-block;
}
/* line 31, ../sass/screen.scss */
.cssmenu ul li a {
  color: #000;
  display: block;
  padding: 40px 15px;
  letter-spacing: 1px;
  font-size: 1.1em;
  font-family: 'Karla', sans-serif;
  text-transform: uppercase;
  margin: 13px 10px;
}
/* line 43, ../sass/screen.scss */
.cssmenu li.active > a, .cssmenu li > a:hover {
  color: #000;
  background: #ffea00;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*-------------------------------------Slider-------------------------------------*/
/* line 56, ../sass/screen.scss */
article {
  position: absolute;
  width: 100%;
  opacity: 0;
}

/* line 62, ../sass/screen.scss */
.index-banner {
  background: url(../images/banner.jpg) no-repeat;
  padding: 10px 0;
}

/* line 67, ../sass/screen.scss */
.banner-wrap {
  width: 80%;
  margin: 0 auto;
}

/* line 72, ../sass/screen.scss */
.wmuSlider {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
}
/* line 76, ../sass/screen.scss */
.wmuSlider .wmuSliderWrapper article {
  position: relative;
  text-align: center;
}
/* line 79, ../sass/screen.scss */
.wmuSlider .wmuSliderWrapper article img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* line 89, ../sass/screen.scss */
.wmuGallery .wmuGalleryImage {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
/* line 92, ../sass/screen.scss */
.wmuGallery .wmuGalleryImage img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/*------------------------------------- Content -------------------------------------*/
/* line 102, ../sass/screen.scss */
.wmuSliderPrev, .wmuSliderNext {
  position: absolute;
  width: 46px;
  height: 100px;
  text-indent: -9999px;
  background: url(../images/img-sprite.png) no-repeat;
  top: 40%;
  z-index: 2;
  cursor: pointer;
}

/* line 113, ../sass/screen.scss */
.wmuSliderPrev {
  background-position: -15px -20px;
  left: 0;
}

/* line 118, ../sass/screen.scss */
.wmuSliderNext {
  background-position: -52px -10px;
  right: 0;
}

/* line 123, ../sass/screen.scss */
.btn {
  margin: 30px 60px 0;
  border: none;
  font-family: inherit;
  color: #fff;
  background: none;
  cursor: pointer;
  padding: 10px 30px;
  display: inline-block;
  border-bottom: 3px solid #ffea00;
  letter-spacing: 1px;
  outline: none;
  float: right;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 142, ../sass/screen.scss */
.btn1 {
  margin: 30px 0;
  border: none;
  font-family: inherit;
  color: #fff;
  background: none;
  cursor: pointer;
  padding: 8px 20px;
  display: inline-block;
  border-bottom: 3px solid #ffea00;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 160, ../sass/screen.scss */
.btn-8 {
  display: block;
  background: #000;
  font-size: 0.99em;
  font-family: "Century Gothic",Arial, Helvetica, sans-serif;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 170, ../sass/screen.scss */
.btn-8b:hover {
  background: #222;
}

/* line 174, ../sass/screen.scss */
.btn-8 a {
  color: #fff;
}

/* line 178, ../sass/screen.scss */
.slider-left {
  float: left;
  padding-top: 6%;
  width: 47.5%;
}
/* line 182, ../sass/screen.scss */
.slider-left h3 {
  font-size: 4em;
  color: #000;
  background: #ffea00;
  font-family: "Century Gothic",Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 70%;
  font-weight: 600;
  float: none;
}
/* line 193, ../sass/screen.scss */
.slider-left h4 {
  font-size: 4em;
  color: #000;
  background: #ffea00;
  font-family: "Century Gothic",Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
}

/* line 205, ../sass/screen.scss */
.slider-right {
  width: 52.5%;
  float: left;
}

/* line 211, ../sass/screen.scss */
p.top {
  color: #fff;
  font-size: 1.7em;
  line-height: 1.5em;
  font-family: "Century Gothic",Arial, Helvetica, sans-serif;
  background: #414146;
  text-align: left;
  padding: 0 10px;
  width: 68%;
  margin-bottom: 1px;
}
/* line 222, ../sass/screen.scss */
p.middle {
  color: #fff;
  font-size: 1.7em;
  line-height: 1.5em;
  font-family: "Century Gothic",Arial, Helvetica, sans-serif;
  background: #414146;
  text-align: left;
  padding: 0 10px;
  width: 64%;
  margin-bottom: 1px;
}
/* line 233, ../sass/screen.scss */
p.bottom {
  color: #fff;
  font-size: 1.7em;
  line-height: 1.5em;
  font-family: "Century Gothic",Arial, Helvetica, sans-serif;
  background: #414146;
  text-align: left;
  padding: 0 10px;
  width: 56%;
}

/* line 245, ../sass/screen.scss */
.wmuSliderPagination {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 10px;
}
/* line 250, ../sass/screen.scss */
.wmuSliderPagination li {
  float: left;
  margin: 0 2px 0 0;
  list-style-type: none;
}
/* line 255, ../sass/screen.scss */
.wmuSliderPagination a {
  display: block;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background: url(../images/img-sprite.png) no-repeat -126px -15px;
}
/* line 261, ../sass/screen.scss */
.wmuSliderPagination a.wmuActive {
  background: url(../images/img-sprite.png) no-repeat -156px -15px;
}

/*---------------------------------------content---------------------------------------*/
/* line 269, ../sass/screen.scss */
.main {
  background: #f6f6f6;
}

/* line 273, ../sass/screen.scss */
.content-top {
  padding: 5% 0;
}
/* line 275, ../sass/screen.scss */
.content-top h3 {
  text-align: center;
  font-size: 2.5em;
  color: #424147;
  font-weight: 600;
  font-family: "Century Gothic",Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}
/* line 284, ../sass/screen.scss */
.content-top h5 {
  text-align: center;
  font-size: 1.5em;
  color: #424147;
  font-weight: 600;
  font-family: "Century Gothic",Arial, Helvetica, sans-serif;
  margin-bottom: 60px;
}

/* line 294, ../sass/screen.scss */
.col_1_of_4 {
  display: block;
  float: left;
  margin: 0 0 0 3.6%;
  background: #ffea00;
  cursor: pointer;
}

/* line 302, ../sass/screen.scss */
.span_1_of_4:hover {
  background: #e1e6ec;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #FFF;
}

/* line 311, ../sass/screen.scss */
.col_1_of_4:first-child {
  margin-left: 0;
}

/* line 315, ../sass/screen.scss */
.span_1_of_4 {
  width: 22.3%;
}

/* line 319, ../sass/screen.scss */
.span_1_of_first {
  width: 22.3%;
}
/* line 321, ../sass/screen.scss */
.span_1_of_first img {
  display: block;
}

/* line 326, ../sass/screen.scss */
.span_1_of_4 p {
  font-size: 0.8125em;
  color: #333;
  line-height: 1.5em;
}

/* line 332, ../sass/screen.scss */
.desc {
  background: #414146;
  padding: 20px;
}
/* line 335, ../sass/screen.scss */
.desc h4 {
  color: #EEE;
  font-size: 1.5em;
  text-transform: uppercase;
}
/* line 339, ../sass/screen.scss */
.desc h4 span {
  float: right;
  font-size: 12px;
  text-transform: lowercase;
}

/* line 347, ../sass/screen.scss */
span.small {
  color: #ffea00;
}

/* line 351, ../sass/screen.scss */
.grid1 {
  text-align: center;
  padding: 26px 0 10px 0;
}
/* line 354, ../sass/screen.scss */
.grid1 img {
  padding: 23px 0;
}
/* line 357, ../sass/screen.scss */
.grid1 h4 {
  color: #5C5401;
  text-transform: uppercase;
  font-size: 1.5em;
}

/* line 364, ../sass/screen.scss */
.desc p {
  color: #FFF;
  font-size: 0.8999em;
  line-height: 1.8em;
  text-align: center;
}

/*---------------------------------------content-middle---------------------------------------*/
/* line 373, ../sass/screen.scss */
.content-middle {
  padding-bottom: 3%;
}
/* line 375, ../sass/screen.scss */
.content-middle h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  background: url(../images/bg-h2.png) repeat-x center;
  margin-bottom: 40px;
}
/* line 381, ../sass/screen.scss */
.content-middle h2 span {
  background: #424147;
  color: #ffea00;
  padding: 5px 40px;
}
/* line 387, ../sass/screen.scss */
.content-middle p {
  text-align: center;
  color: #424146;
  font-size: 1.4em;
  padding: 1% 0;
}

/* line 395, ../sass/screen.scss */
#tiles {
  list-style-type: none;
  position: relative;
  margin: 0;
}
/* line 399, ../sass/screen.scss */
#tiles li {
  background-color: #ffffff;
}
/* line 401, ../sass/screen.scss */
#tiles li img {
  display: block;
  cursor: pointer;
}
/* line 407, ../sass/screen.scss */
#tiles a li:nth-child(3n) {
  height: 175px;
}
/* line 410, ../sass/screen.scss */
#tiles a li:nth-child(4n-3) {
  padding-bottom: 30px;
}
/* line 413, ../sass/screen.scss */
#tiles a li:nth-child(5n) {
  height: 250px;
}

/*------------------------------------- page styling-------------------------------------*/
/* line 421, ../sass/screen.scss */
#main1 {
  padding: 30px 0 30px 0;
}

/* line 425, ../sass/screen.scss */
.content-bottom {
  padding-bottom: 5%;
}
/* line 427, ../sass/screen.scss */
.content-bottom h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  background: url(../images/bg-h2.png) repeat-x center;
  margin-bottom: 40px;
}
/* line 433, ../sass/screen.scss */
.content-bottom h2 span {
  background: #424147;
  color: #ffea00;
  padding: 5px 40px;
}
/* line 439, ../sass/screen.scss */
.content-bottom p {
  text-align: center;
  color: #424146;
  font-size: 1.4em;
  padding: 1% 0 3%;
}

/*---------------------------------------thumbs---------------------------------------*/
/* line 449, ../sass/screen.scss */
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
  display: none;
}

/* line 453, ../sass/screen.scss */
.nbs-flexisel-container {
  position: relative;
  max-width: 100%;
}

/* line 458, ../sass/screen.scss */
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

/* line 467, ../sass/screen.scss */
.nbs-flexisel-inner {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

/* line 473, ../sass/screen.scss */
.nbs-flexisel-item {
  float: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  line-height: 0;
}
/* line 480, ../sass/screen.scss */
.nbs-flexisel-item > img {
  width: 50%;
  cursor: pointer;
  positon: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100px;
  max-height: 45px;
}

/*------------------------------------- Navigation -------------------------------------*/
/* line 493, ../sass/screen.scss */
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
  width: 46px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}

/* line 501, ../sass/screen.scss */
.nbs-flexisel-nav-left {
  left: 0;
  background: url(../images/img-sprite.png) no-repeat -19px -21px;
}

/* line 506, ../sass/screen.scss */
.nbs-flexisel-nav-right {
  right: 0;
  background: url(../images/img-sprite.png) no-repeat -55px -20px;
}

/*---------------------------------------footer---------------------------------------*/
/* ============================ GRID OF THREE ======================================= */
/* line 514, ../sass/screen.scss */
.col_1_of_3 {
  display: block;
  float: left;
  margin: 0 0 0 4.6%;
}
/* line 518, ../sass/screen.scss */
.col_1_of_3:first-child {
  margin-left: 0;
}

/* line 523, ../sass/screen.scss */
.span_1_of_3 {
  width: 30.2%;
}
/* line 525, ../sass/screen.scss */
.span_1_of_3 h3 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0;
  letter-spacing: -1px;
}
/* line 534, ../sass/screen.scss */
.span_1_of_3 h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0;
  letter-spacing: -1px;
}
/* line 543, ../sass/screen.scss */
.span_1_of_3 p {
  font-size: 0.8125em;
  color: #fff;
  line-height: 1.5em;
}

/*--------------------------------------- Media Quries ---------------------------------------*/
@media only screen and (max-width: 1024px) {
  /* line 552, ../sass/screen.scss */
  .wrap {
    width: 95%;
  }
}
@media only screen and (max-width: 640px) and (min-width: 480px) {
  /* line 558, ../sass/screen.scss */
  .wrap {
    width: 95%;
  }

  /* line 561, ../sass/screen.scss */
  .col_1_of_3 {
    margin: 1% 0 1% 0;
  }

  /* line 564, ../sass/screen.scss */
  .span_1_of_3 {
    width: 94%;
    padding: 3%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 571, ../sass/screen.scss */
  .wrap {
    width: 95%;
  }

  /* line 574, ../sass/screen.scss */
  .col_1_of_3 {
    margin: 1% 0 1% 0;
  }

  /* line 577, ../sass/screen.scss */
  .span_1_of_3 {
    width: 92%;
    padding: 4%;
  }
}
/* line 583, ../sass/screen.scss */
.footer-top {
  background: #414146;
  padding: 2% 0;
}

/* line 588, ../sass/screen.scss */
.gallery li {
  float: left;
  width: 31.9%;
  padding-right: 5px;
}
/* line 592, ../sass/screen.scss */
.gallery li img {
  display: block;
}

/* line 597, ../sass/screen.scss */
.footer-list li {
  padding-bottom: 20px;
}
/* line 599, ../sass/screen.scss */
.footer-list li img {
  float: left;
  margin-right: 20px;
}
/* line 603, ../sass/screen.scss */
.footer-list li p {
  width: 85.5%;
  float: left;
  padding: 0;
}

/* line 610, ../sass/screen.scss */
span.yellow a {
  color: #FFEA00;
}
/* line 612, ../sass/screen.scss */
span.yellow a:hover {
  color: #fff;
}

/* line 617, ../sass/screen.scss */
.social-icons ul li:first-child, ol li:first-child {
  margin-top: 0;
  margin-left: 0;
}

/* line 622, ../sass/screen.scss */
.social-icons li {
  background: none;
  padding: 0;
  display: inline-block;
}

/* line 629, ../sass/screen.scss */
li.facebook a span {
  height: 30px;
  width: 30px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -283px -14px;
}
/* line 634, ../sass/screen.scss */
li.facebook a span:hover {
  background: url(../images/img-sprite.png) no-repeat -283px -46px;
}
/* line 638, ../sass/screen.scss */
li.google a span {
  height: 30px;
  width: 30px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -316px -14px;
}
/* line 643, ../sass/screen.scss */
li.google a span:hover {
  background: url(../images/img-sprite.png) no-repeat -316px -46px;
}
/* line 647, ../sass/screen.scss */
li.twitter a span {
  height: 30px;
  width: 30px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -349px -14px;
}
/* line 652, ../sass/screen.scss */
li.twitter a span:hover {
  background: url(../images/img-sprite.png) no-repeat -349px -46px;
}
/* line 656, ../sass/screen.scss */
li.linkedin a span {
  height: 30px;
  width: 30px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -382px -14px;
}
/* line 661, ../sass/screen.scss */
li.linkedin a span:hover {
  background: url(../images/img-sprite.png) no-repeat -382px -46px;
}
/* line 665, ../sass/screen.scss */
li.youtube a span {
  height: 30px;
  width: 30px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -416px -14px;
}
/* line 670, ../sass/screen.scss */
li.youtube a span:hover {
  background: url(../images/img-sprite.png) no-repeat -416px -46px;
}
/* line 674, ../sass/screen.scss */
li.bloger a span {
  height: 30px;
  width: 30px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -448px -14px;
}
/* line 679, ../sass/screen.scss */
li.bloger a span:hover {
  background: url(../images/img-sprite.png) no-repeat -448px -46px;
}
/* line 683, ../sass/screen.scss */
li.rss a span {
  height: 30px;
  width: 30px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -482px -14px;
}
/* line 688, ../sass/screen.scss */
li.rss a span:hover {
  background: url(../images/img-sprite.png) no-repeat -482px -46px;
}
/* line 692, ../sass/screen.scss */
li.dribble a span {
  height: 30px;
  width: 30px;
  display: block;
  background: url(../images/img-sprite.png) no-repeat -515px -14px;
}
/* line 697, ../sass/screen.scss */
li.dribble a span:hover {
  background: url(../images/img-sprite.png) no-repeat -515px -46px;
}

/* line 703, ../sass/screen.scss */
.social-icons h4 {
  color: #FFF;
  margin-bottom: 15px;
  font-size: 1.4em;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0;
  letter-spacing: -1px;
}

/* line 713, ../sass/screen.scss */
.follow {
  padding-top: 30px;
}
/* line 715, ../sass/screen.scss */
.follow h4 {
  color: #FFF;
  margin-bottom: 15px;
  font-size: 1.4em;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 0;
  letter-spacing: -1px;
}

/* line 726, ../sass/screen.scss */
.text {
  border-bottom: 1px solid #FFEA00;
  color: #fff;
}
/* line 729, ../sass/screen.scss */
.text img {
  float: right;
}

/* line 734, ../sass/screen.scss */
.footer-bottom {
  background: #000;
  padding: 2% 0;
}

/* line 739, ../sass/screen.scss */
.copy {
  float: left;
  padding-top: 7px;
}
/* line 742, ../sass/screen.scss */
.copy p {
  color: #fff;
  font-size: 0.89em;
}

/* line 748, ../sass/screen.scss */
p.copy a {
  color: #FFEA00;
}
/* line 750, ../sass/screen.scss */
p.copy a:hover {
  color: #fff;
}

/* line 755, ../sass/screen.scss */
.footer-nav {
  float: right;
}
/* line 757, ../sass/screen.scss */
.footer-nav ul li {
  display: inline-block;
}
/* line 759, ../sass/screen.scss */
.footer-nav ul li a {
  color: #CCC;
  display: block;
  letter-spacing: 1px;
  font-size: 0.89em;
  text-transform: uppercase;
  margin: 13px 10px;
}
/* line 766, ../sass/screen.scss */
.footer-nav ul li a:hover {
  color: #fff;
}

/* line 773, ../sass/screen.scss */
.follow p {
  font-size: 0.8125em;
  color: #FFF;
  line-height: 1.5em;
  margin-bottom: 20px;
}

/* line 780, ../sass/screen.scss */
.search {
  border-bottom: 2px solid #FFEA00;
  color: #fff;
}
/* line 784, ../sass/screen.scss */
.search input[type="text"] {
  outline: none;
  padding: 2px 16px;
  outline: none;
  color: #FFF;
  background: none;
  border: none;
  width: 90.5%;
  line-height: 1.5em;
}
/* line 794, ../sass/screen.scss */
.search input[type="submit"] {
  background: url("../images/email.png") no-repeat 0 0;
  padding: 4px 14px;
  border: none;
  cursor: pointer;
  position: absolute;
  line-height: 1.5em;
  outline: none;
}
